@import '../../styles/vars';

.box{
    padding: 20px 0;
}
.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    //display: none;
    padding-bottom: 10px;
    font-size: 2rem;
    //color: blue;
    font-weight: 500;
    font-family: sans-serif;
    //color: white;

}
.card-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    @media (max-width: 768px){
        flex-direction: column;
    }
}
.card{
    width: 31%;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out;
    &:hover{
        .card-img{
            filter: brightness(0.4);
        }
        .title{
            display: block;
            font-size: 2.5rem;
        }
    }
    @media (max-width: 768px){
        width: 100%;
    }
}
.card-img{
    height: 250px;
    width: 100%;
    border-radius: 5px;
    filter: brightness(0.5);
}
.desc{
    padding: 15px 0 0;
    width: 98%;
    margin: 0 auto;
    p{
        font-size: 1.25rem ;
        color: $global-color-light;
    }
    @media (max-width: 768px){
        width: 98%;
        p{
            font-size: 1rem ;
            color: $global-color-light;
        }
    }
}
