@import '../../styles/vars';

.wrapper{
    background-image: linear-gradient(269deg, #8550ab, #4d0085 80.1%, #4d0085 100.98%, #844fab);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}
.box{
    display: flex;
    height: 70px;
    align-items: center;
    //margin: 0 16px;
    //background-color: $global-header;
    //background-image: linear-gradient(269deg, #8550ab, #4d0085 80.1%, #4d0085 80.98%, #844fab);
}
.logo {
    width: 30%;
    font-size: 1.5rem;
    font-family: $font-family;
    cursor: pointer;
    font-weight: 700;
    a {
        color: white;
        text-decoration: none;
        text-shadow: 5px solid #fff;
    }
    
}
.nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    list-style: none;
    &-item {
        font-size: 1.25rem;
        font-family: $font-family;
        cursor: pointer;
        font-weight: 500;
        text-decoration: none;
        color: white;
    }
}