@import '../../styles/vars';

.box{
    height: 150px;
    //background: $global-header;
    background-image: linear-gradient(176deg, #8550ab, #4d0085 35.1%, #4d0085 30.98%, #844fab);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    height: 200px;
    @media (max-width: 768px){
        flex-direction: column;
        height: auto;
    }
}
.text{
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    color: white;
    p{
        margin: 7px 0;
    }
}
.logo{
    width: 150px;
    @media (max-width: 768px){
        width: 100px;
    }
}